*{
    background-color: white;
}

.menu li{
    list-style: none;
    float: left;
    padding: 0 20px;
}
.menu a{
    color: black;
    text-decoration: none;
}

header{
    border-bottom: 1px solid black;
}

.appName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 25px;   
    height: 40px;
    -webkit-margin-start: 60px;
}
.search{
    height: 24px; 
}

.toolbar{   
    -webkit-margin-start: 400px;
}

.ChangePicture{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Info{
    color: black;
    -webkit-margin-start: 400px;
}

.infoName{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main{
    border-bottom: 1px solid black;
    height: 150px;
}
.main .editprofile{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main .editprofile2{
    list-style: none;
}


.listmenu{
    border-right: 1px solid black;
    width: 300px;
    height: 100vh;
    background:white;
    left: 100%;
    justify-content: center;
    text-align: left;
    align-items: center;
    z-index: 10;
    flex-direction: column;
}
.listmenu li{
    list-style: none;
    padding: 0 20px;
}
.listmenu a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.changeAvatar{
    background:white;
    right: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.InfoLogin{
    display: inline-block;
    letter-spacing: normal;
    text-transform: none;
    text-align: start;
    padding: 1px 2px;
    text-align: center;
    flex-direction: column;
}
.login{
    border: 3px solid black;
    text-align: center;
    width: 300px;
    height: 500px;
    margin: 7%;
    margin-left: 38%;
}

.login .email{
    font-size: 20px;
    margin-bottom: 5px;
}
.login .password{
    font-size: 20px;
    margin-bottom: 5px;
}
.login .button{
    font-size: 20px;
    border: 2px solid black;
    color: white;
    background-color: black;
    padding: 0 93.5px;
}
.name .appname{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.InfoLogin .forgotpassword{
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.InfoLogin .signup{
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.InfoLogin .dontaccount{
    margin-top: 220px;
}

