*{
    background-color: white;
}

.menu li{
    list-style: none;
    float: left;
    padding: 0 20px;
}
.menu a{
    color: black;
    text-decoration: none;
}

header{
    border-bottom: 1px solid black;
}

.appName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 25px;   
    height: 40px;
    -webkit-margin-start: 60px;
}
.search{
    height: 24px; 
}

.toolbar{   
    -webkit-margin-start: 400px;
}

.ChangePicture{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Info{
    color: black;
    -webkit-margin-start: 400px;
}

.infoName{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main{
    border-bottom: 1px solid black;
    height: 150px;
}


.listmenu{
    border-right: 1px solid black;
    width: 300px;
    height: 100vh;
    background:white;
    left: 100%;
    justify-content: center;
    text-align: left;
    align-items: center;
    z-index: 10;
    flex-direction: column;
}
.listmenu li{
    list-style: none;
    padding: 0 20px;
}
.listmenu a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.changeAvatar{
    background:white;
    right: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
