body{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}
.TaskBar{
    display: flex;
    list-style: none;
    border-bottom: 2px solid black;
    justify-content: center;
    height: 35px;
    background-color: white;
}
.appName a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 200px;
}

.Search input{
    height: 20px;
    margin-right: 15rem;
    text-align: center;
}
.homeProfile a{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
    float: left;
    margin-left: 20px;
}

.menu li{
    list-style: none;
    float: left;
    padding: 0 20px;
}
.menu a{
    color: black;
    text-decoration: none;
}

.toolbar{   
    -webkit-margin-start: 400px;
}

.ChangePicture{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Info{
    color: black;
    -webkit-margin-start: 400px;
}

.infoName{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main{
    border-bottom: 1px solid black;
    height: 150px;
}
.main .editprofile{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main .editprofile2{
    list-style: none;
}

.changeAvatar{
    right: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}


/* đăng nhập - đăng kí */
.InfoLogin{
    display: inline-block;
    letter-spacing: normal;
    text-transform: none;
    text-align: start;
    padding: 1px 2px;
    text-align: center;
}
.login{
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 500px;
    margin: 7%;
    margin-left: 38%;
    background-color: white;
}

.login .email{
    font-size: 20px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.login .password{
    font-size: 20px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.login .button{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 93.5px;
    background-color: rgb(224, 224, 224);
}
.login .button:hover{
    background-color: black;
    transition: 1s;
}
.name .appname{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.InfoLogin .forgotpassword{
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.InfoLogin .signup {
    text-decoration: none;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.signup:hover {
    color: white;   
    border: 2px solid black;
    background-color: black; 
    border-radius: 5px;
    transition: 1s;
}
.InfoLogin .dontaccount{
    margin-top: 220px;
}



.taskbarsetting{
    width: 800px;
    height: 500px;
    border: 2px solid black;  
    border-radius: 5px;
    margin-top: 5rem;
    margin-left: 20rem;
    background-color: white;
}


.taskbarprofile{
    flex: 1;
    border-right: 2px solid black;
    float: left;
    text-align: left;
    justify-content: left;
    width: 230px;
    height: 500px;
}
.edtprofile:hover{
    background-color: black;
    color: white;
    border: 7px solid black;
    border-radius: 10px;
    transition: 0.5s;
}
.cgpass:hover{
    background-color: black;
    color: white;
    border: 7px solid black;
    border-radius: 10px;
    transition: 0.5s;
}
.taskbarprofile a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.taskbarprofile ul li{
    list-style: none;
    height: 2rem;   
}


.editprofile--main{
    margin: 15px;
    margin-left: 300px;
}
.editprofile--name{
    display: flex;
    font-size: 20px;
}
.editprofile--name input{
    height: 20px;
    border-radius: 5px;
    margin-left: 30px;
    width: 200px;
}
.editprofile--male{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
}
.editprofile--male input{
    border-radius: 5px;
    margin-left: 75px;
    height: 20px;
    width: 200px;
}
.editprofile--button{
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 267px;
    transition: 0.5s;
}
.editprofile--button:hover{
    background-color: black;
    color: white; 
}




.changepassword--main{
    margin: 15px;
    margin-left: 250px;
}
.changepassword--password{
    display: flex;
    font-size: 20px;
}
.changepassword--password input{
    height: 25px;
    border-radius: 5px;
    margin-left: 120px;
    width: 200px;
}
.changepassword--newpassword{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
}
.changepassword--newpassword input{
    border-radius: 5px;
    margin-left: 97px;
    height: 25px;
    width: 200px;
}
.changepassword--confirmpassword{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
}
.changepassword--confirmpassword input{
    border-radius: 5px;
    margin-left: 43px;
    height: 25px;
    width: 200px;
}
.changepassword--button{
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 312px;
    transition: 0.5s;
}
.changepassword--button:hover{
    background-color: black;
    color: white; 
}

